<html>
    <body onload="pencil()">
        <h1>В разработке. Состав и качество работы функционала может не совпадать с ожиданиями, надеждами и мечтами ☺.</h1>
        <form id=drawtype>
            <input type="radio" id="oil" name="fdbcktype" value="oil"><label for="oil" onclick="color('#0000FF')">Нефтепродукты</label>
            <input type="radio" id="recess" name="fdbcktype" value="recess"><label for="recess" onclick="color('#FF0000')">Углубление</label>
            <input type="radio" id="elongated_recess" name="fdbcktype" value="elongated_recess" onclick="color('#00FF00')"><label for="elongated_recess">Протяжённое углубление</label>
            <input type="radio" id="rust" name="fdbcktype" value="rust"><label for="rust" onclick="color('#FF00FF')">Ржавчина</label>
        </form>
        <p><table>
            <tr>
            <td>
                <canvas id="paint" width="1000" height="1000" style="border: 2px solid #000000; background: url('/static/uploads/image.jpg');"></canvas>
            </td>
            </tr>
        </table></p>
        <table>
            <tr>
                <!-- <td><button style="height: 20px; width: 80px;" onclick="fill()">Заливка</button>                
                <td><button style="height: 20px; width: 80px" onclick="outline()">Контур</button> -->
                <td><label>Ширина кисти</label></td>
                <td><button id="pixel_minus" type="button" onclick="reduce_pixel()" style="width: 25px;">-</button></td>
                <td><button id="pixel_plus" type="button" onclick="add_pixel()" style="width: 25px;">+</button></td>
            </tr>
        </table>
        <button name="Save layer" value=savelayer onclick="save()">Сохранить слой дефекта</button>
        <hr>
        <form id=sendtype>
            <P>Выберите маски, которые вы хотите отправить</P>
            <input type="checkbox" id="send_oil" name="to_send" value="send_oil"><label for="send_oil">Нефтепродукты</label>
            <input type="checkbox" id="send_recess" name="to_send" value="send_recess"><label for="send_recess">Углубение</label>
            <input type="checkbox" id="send_elongated_recess" name="to_send" value="send_elongated_recess"><label for="send_elongated_recess">Протяжённое углубление</label>
            <input type="checkbox" id="send_rust" name="to_send" value="send_rust"><label for="send_rust">Ржавчина</label>
        </form>
        <button id="send_feedback"name="sendfeedback" value=send_feedback onclick="send()">Оправить</button>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="/static/scripts/script.js"></script>
   <body>
</html>
