<html>
    <body onload="pencil()">
        <h1>В разработке. Состав и качество работы функционала может не совпадать с ожиданиями, надеждами и мечтами ☺.</h1>
        <form id=drawtype></form>
        <p>[[[Тут селектор типа маски: ○Нефть ○Отверстие ○Ржавчина ○etc]]]</p>
        <input type="radio" value="oil">Oil<input type="radio" value="hole">Hole<input type="radio" value="rust">Rust
        <p><table>
            <tr>
            <td>
                <canvas id="paint" width="750" height="450" style="border: 2px solid #000000;"></canvas>
            </td>
            <td>
                <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Карандаш</button>
                <br>
                <button id="linetool" type="button" style="height: 25px; width: 100px;" onclick="line()">Линия</button>
                <br>
                <button id="rectangletool" type="button" style="height: 25px; width: 100px;" onclick="rectangle()">Прямоугольник</button> 
                <br>
                <button id="circletool" type="button" style="height: 25px; width: 100px;" onclick="circle()">Окружность</button> 
                <br>
                <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Сбросить</button> 
                </fieldset>
            </td>
            </tr>
        </table></p>
        <table>
            <tr>
                <td><button style="height: 20px; width: 80px;" onclick="fill()">Заливка</button>                
                <td><button style="height: 20px; width: 80px" onclick="outline()">Контур</button>
                <td><label>Ширина кисти</label></td>
                <td><button id="pixel_minus" type="button" onclick="reduce_pixel()" style="width: 25px;">-</button></td>
                <td><button id="pixel_plus" type="button" onclick="add_pixel()" style="width: 25px;">+</button></td>
            </tr>
            </table>
            <hr>
            <button name="Save layer" value=savelayer>Сохранить слой дефекта</button>
            <p>[[[Чекбоксы с тем, какие маски отправлять]]]</p>
            <button name="Send feedback" value=sendfeedback>Оправить фидбек</button>
            </fieldset>
            <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
            <script src="/static/scripts/script.js"></script>
   <body>       
</html>