<!doctype html>
  <head>
    <meta charset="UTF-8">
    <title>Трубы</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>WIP анализатор труб</h1>
    <form id="upload-container" enctype="multipart/form-data" method="POST" action = "http://localhost:5000/uploader">
      <img id="upload-image" src="../static/images/upload.svg" width=300 height=300>
      <div>
        <input id="file-input" type="file" name="file" multiple>
        <label for="file-input">Выберите файл</label>
        <span>или перетащите его сюда</span>
      </div>
    </form>
  </body>
</html>